<section class="sfc-carousel">
    <a href="javascript:;" class="sfc-arrow sfc-arrow-back">back</a>
    <div class="sfc-viewport">
        <div class="sfc-slider">
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Titles</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
            <div class="sfc-cell">
                <div class="sfc-item-wrap">
                    <h1>Item Title</h1>
                    <div class="sfc-temp-item">temp Item</div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="sfc-arrow sfc-arrow-forward">back</a>
</section>
